.footer {
  background: #279A59;


  &__row {
    display: flex;
    padding: 50px 0;
    column-gap: 114px;

    justify-content: space-between;
    @include breakpoint(xl){
      column-gap: calc(100vw / 10);
    }
    @include breakpoint(md){
      row-gap: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (max-width: 700px){
      flex-direction: column;
    }
    @include breakpoint(sm){
      padding-left: 20px;
      padding-right: 20px;

    }
  }

  &__contacts-wrapper {
    max-width: 176px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__logo-wrapper {
    margin-bottom: 12px;
    display: inline-block;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__desc {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__phone {
  }

  &__link {
    width: fit-content;
  }

  &__mail {
  }

  &__nav-items {
    white-space: nowrap;
    display: flex;
    column-gap: 48px;
    row-gap: 35px;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(xl){
      justify-content: start;
      column-gap: calc(100vw / 23.75);
    }
    @include breakpoint(lg){


    }
    @include breakpoint(md){
      column-gap: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
    @include breakpoint(xs38){
      gap: 15px;
      display: flex;
      flex-direction: column;
    }

  }

  &__nav-item {
  }

  &__list-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 15px;
    background: unset;
    cursor: initial;
    @include breakpoint(xs38){
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
    &.active{
      .footer__accordion-svg{
        transform:rotate(-90deg);
      }
    }
  }
  &__accordion-svg{
    display: none;
    @include breakpoint(xs38){
      display: inline-block;
      transition: transform .3s ease-in-out;
      transform:rotate(90deg);
    }

  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @include breakpoint(xs38){
      row-gap: 7px;
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease-in-out;
    }
  }

  &__item {
  }

  &__item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
    @include fluid-type(380px, 768px, 14px,16px);

    @include breakpoint(xs38){
      font-size: 16px;
    }
    &:before{
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: -2px;
      left: 0;
      background-color: #fff;
      transition: .3s ease-in-out;
    }

    &:hover{
      &:before{
        width: 100%;
      }
    }
  }
  .footer__link{

    transition: .3s ease-in-out;
    &:hover{

    }
  }
}