.header{
}
.topline{
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding-top: 20px;
  @include breakpoint(md){
    display: none;
  }
}
.topline__phone-number{
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  &:visited{
    color: #000;
  }
}
.topline__poor-vision{
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.topline__desc{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $secondaryColor;
}
.topline__pv-txt{
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: $secondaryColor;
}
.topline__r-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  column-gap: 15px;
  flex-wrap: wrap;
  @include breakpoint(lg){
    justify-content:start;
    column-gap: 20px;
  }

}
.nav {
  //height: $navHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  background-color: #fff;
  z-index: 2;
  column-gap: 38px;
  @include breakpoint(md){
    padding: 11px 30px 31px;
    position: fixed;
    width: 100%;
  }
  @include breakpoint(sm){
    padding-right: 22px;
    padding-left: 22px;
  }
}

.hamburger {
  display: none;
  z-index: 5;
  position: relative;
  @include breakpoint(md){
    display: block;
    cursor: pointer;
    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

.nav__hidden-content{
  display: none;
  @include breakpoint(md){
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
}

.hamburger__bar {
  display: block;
  width: 22px;
  height: 2px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.nav__menu-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 34px;

  @include breakpoint(md){

    flex-direction: column;
    text-align: center;
  }
}
.nav__menu {
  overflow: auto;
  width: 100%;
  flex: 1;

  &.active{
    @include breakpoint(md){
      //padding-bottom: 5rem;
      padding: 36px 0;
      left: 0;
      height: 100%;
      justify-content: start;
    }
  }

  @include breakpoint(md){
    justify-content: start;
    height: 100%;
    position: fixed;
    left: -100%;
    top:0 ;
    background-color: #fff;
    width: 100%;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);

    &.active{
      left:0;
    }
  }
}

.nav__item {
  white-space: nowrap;
  @include breakpoint(md){
    margin:1.5rem 0;
  }
}

.nav__link{
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: $mainColor;
  position: relative;
  @include breakpoint(md){
    font-size: 20px;
  }
  &:hover{
    color: $mainColor;
  }
  &:before{
    content: '';
    position: absolute;
    bottom: -2px;
    width:0;
    height: 2px;
    background-color: $mainColor;
    transition: .3s ease-in-out;
  }
  &:hover:before{
    width: 100%;
  }
}

.nav__logo {
  display: flex;
}

.modal__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.modal__window{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 25;
  display: none;
}

.modal__close{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
  position: relative;

  &:before{
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#279A59 0%, #3BB96D 100%);
    z-index: -1;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  &:hover{
    &:before{
      opacity: 1;
      z-index: 2;
    }
    svg{
      transform:scale(1.3);
    }
  }
  svg{
    transition: .3s ease-in-out;
    z-index: 3;
  }
}

.modal__title{
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: $mainColor;


}

.modal__label{
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: $mainColor;

}

.modal__content{
  position: relative;
  max-width: 366px;
  width:100%;
  padding:30px;
  height:auto;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 auto;
  animation-name:showModal;
  animation-duration: .4s;
  animation-timing-function: linear;
  z-index: 15;
}

.modal{
  &.active{
    .modal__window{
      animation-name:modalWindow;
      animation-duration:.2s;
      display:block;
    }
  }
}
.modal__rights{
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #8D979F;
}
.modal__rights-link{
  color: #3BB96D;
  //text-decoration: underline;
  position: relative;
  /* gradient text for modern browsers */
  @supports (background-clip: text) {
    background-image: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
      background-clip: text;
      color: transparent;
  }
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #3BB96D;
    bottom: -2px;
    transition: .3s ease-in-out;
  }
  &:hover{
    &:before{
      bottom: -4px;
    }
  }
}
.modal__btn-txt{
  z-index: 3;
  position: relative;
  display: inline-block;
}
/*@keyframes modalWindow{
  from{transform:scale(0);}
  to{transform:scale(1);}
}*/
@keyframes showModal{
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1);
  }
}