@charset "utf-8";

@import "abstracts/_abstracts-dir";
@import "vendor/_verndor-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;

  &.lock{
      overflow: hidden;
  }
}
.gradient-txt{
  color: #3BB96D;

  @supports (background-clip: text) {
    background-image: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
    background-clip: text;
    color: transparent;
  }
}


.glob-title{
  opacity: 0;
  transform:translateX(-100px);
  transition: opacity .4s ease-in, transform .4s ease-in;
}

.normalize-v-element{
  opacity: 1 ;
  transform:translateY(0) !important;
}

.normalize-h-element{
  opacity: 1 ;
  transform:translateX(0) !important;
}

.normalize-element{
  opacity:1 !important;
  transform:translate(0, 0) !important;
}
