h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  color: #FFFFFF;
  @include fluid-type(768px, $maxWidth, 50px, 60px);
  @include breakpoint(md){

  }
  @include fluid-type(380px, 576px, 40px, 50px)

}
h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #0D233B;
  @include fluid-type(768px, 380px, 30px, 40px);
}