<section class="about">
    <div class="content">
        <div class="about__row">
            <div class="about__text">
                <h2 class="about__title">Немного о нас</h2>
                <div class="about__desc">
                    <p class="about__paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum diam pretium risus, ultrices
                        felis a. Adipiscing maecenas mattis ullamcorper magnis eget varius. At lobortis tristique mattis
                        orci aenean. Pretium, posuere tristique id potenti ac. Ac praesent arcu vitae arcu. Velit ut et,
                        leo, augue bibendum euismod in. Turpis massa, commodo vestibulum bibendum amet orci velit,
                        risus. Semper mauris curabitur auctor id amet mauris lacus. Ut quis nisi, ac consequat sed massa
                        egestas. Sed adipiscing scelerisque enim, id amet eget. Ipsum dui a bibendum quisque in.
                    </p>
                    <p class="about__paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum diam pretium risus, ultrices
                        felis a. Adipiscing maecenas mattis ullamcorper magnis eget varius. At lobortis tristique mattis
                        orci aenean. Pretium, posuere tristique id potenti ac.
                    </p>
                </div>
            </div>
            <div class="about__img-wrapper">
                <img src="img/about.jpg" alt="Our specialist" class="about__img background-img">
            </div>
        </div>
    </div>
</section>