<section class="advantages">
    <div class="content">
        <div class="advantages__row">
            <h2 class="advantages__title glob-title">Наши преимущества</h2>
            <div class="accordion__outer">
                <div class="accordion">
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">01</span>
                            <span class="accordion__header-txt">Профессионализм</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм 1</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                                <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>
                                <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">02</span>
                            <span class="accordion__header-txt">Широкий спектр услуг</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                                <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>
                                <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">03</span>
                            <span class="accordion__header-txt">Современное оборудование</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                                <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>
                                <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">04</span>
                            <span class="accordion__header-txt">Высокий уровень обслуживания</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                                <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>
                                <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">05</span>
                            <span class="accordion__header-txt">Скорая помощь и служба помощи на дому</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                                <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>
                                <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">06</span>
                            <span class="accordion__header-txt">Терапевтические и хирургические стационары</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                                <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>
                                <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">07</span>
                            <span class="accordion__header-txt">Высокий уровень обслуживания</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                                <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>
                                <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">08</span>
                            <span class="accordion__header-txt">Скорая помощь и служба помощи на дому</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                                <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>
                                <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="accordion__item ">
                        <button class="accordion__header">
                            <span class="accordion__header-number">09</span>
                            <span class="accordion__header-txt">Терапевтические и хирургические стационары</span>
                            <div class="accordion__white-box"></div>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__title">Профессионализм</p>
                            <hr class="accordion__delimiter"/>
                            <p class="accordion__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                sodales praesent ut rhoncus fermentum at. Tellus quis aliquam pharetra eu eget morbi
                                pharetra nunc facilisis. Urna laoreet in bibendum lorem consequat. Ac placerat posuere
                                duis risus. Dignissim condimentum nulla nullam orci nulla. Mauris sed facilisis viverra
                                et arcu tortor.
                            </p>
                            <div class="accordion__etc">
                               <!-- <div class="accordion__stats-wrapper">
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                    <div class="accordion__stats">
                                        <p class="accordion__val">+2 800</p>
                                        <p class="accordion__val-name">пациентов</p>
                                    </div>
                                </div>-->
                            <!--    <div class="accordion__img-wrapper">
                                    <img src="img/advantages-1.png" alt="MRI scan" class="accordion__img">
                                </div>-->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="accordion__display-content">

                </div>
            </div>
        </div>
    </div>
</section>