<section class="contacts">
  <div class="content__outer">
    <div class="content">
      <div class="contacts__row">

        <div class="contacts__info">
          <h2 class="contacts__title glob-title">Наши контакты</h2>
          <div class="contacts__address">
            <p class="contacts__subtitle">Адрес</p>
            <p class="contacts__desc">г. Томск, ул. 79 Гвардейской дивизии, 6</p>
          </div>
          <div class="contacts__phone">
            <p class="contacts__subtitle">Телефон</p>
            <a href="tel:+83822500049" class="contacts__desc contacts__phone-link">8 (3822) 50-00-49</a>
          </div>
          <div class="contacts__mail">
            <p class="contacts__subtitle">Почта</p>
            <a href="mailto:info@docnear.ru" class="contacts__desc contacts__phone-email">info@docnear.ru</a>
          </div>
          <button class="contacts__btn modal__btn">
            <span class="contacts__btn-txt">
              Записаться на прием
            </span>
          </button>
        </div>

        <div class="contacts__map">
          <div class="contacts__g-map"></div>
        </div>
      </div>
    </div>
  </div>
</section>