<section class="direction ">
    <div class="content">
        <div class="direction__row">
            <div class="direction__header">
                <h2 class="direction__title glob-title">
                    Направления нашей работы
                </h2>
                <a href="#" class="direction__btn">
                    <span class="direction__btn-txt">Все направления</span>
                    <span class="direction__btn-svg">
                        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.896894 1.10524C1.28756 0.715553 1.92005 0.715947 2.31022 1.10613L7.29689 6.0928C7.68742 6.48332 7.68742 7.11648 7.29689 7.50701L2.31022 12.4937C1.92005 12.8839 1.28756 12.8843 0.896894 12.4946L0.709169 12.3073C0.317697 11.9168 0.317433 11.2827 0.70858 10.8919L4.09601 7.5073C4.48693 7.11671 4.48693 6.48309 4.09601 6.0925L0.708579 2.70789C0.317432 2.31707 0.317697 1.683 0.709169 1.2925L0.896894 1.10524Z" fill="white"/>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="direction__cards">
                <a href="#" class="direction__card">
                    <div class="direction__img-outer">
                        <div class="direction__img-wrapper ">
                            <img src="img/direction-1.jpg" alt="Our specialist" class="direction__img background-img">
                        </div>
                    </div>
                    <div class="direction__card-txt">
                        <p class="direction__card-title">Гинекология</p>
                        <p  class="direction__card-link">Подробнее</p>
                    </div>
                </a>

                <a href="#" class="direction__card">
                    <div class="direction__img-outer">
                        <div class="direction__img-wrapper">
                            <img src="img/direction-2.jpg" alt="Our specialist" class="direction__img background-img">
                        </div>
                    </div>
                    <div class="direction__card-txt">
                        <p class="direction__card-title">Урология</p>
                        <p  class="direction__card-link">Подробнее</p>
                    </div>
                </a>

                <a href="#" class="direction__card">
                    <div class="direction__img-outer">
                        <div class="direction__img-wrapper">
                            <img src="img/direction-3.jpg" alt="Our specialist" class="direction__img background-img">
                        </div>
                    </div>
                    <div class="direction__card-txt">
                        <p class="direction__card-title">Отоларингология</p>
                        <p class="direction__card-link">Подробнее</p>
                    </div>
                </a>

                <a href="#" class="direction__card">
                    <div class="direction__img-outer">
                        <div class="direction__img-wrapper">
                            <img src="img/direction-4.jpg" alt="Our specialist" class="direction__img background-img">
                        </div>
                    </div>
                    <div class="direction__card-txt">
                        <p class="direction__card-title">Неврология</p>
                        <p class="direction__card-link">Подробнее</p>
                    </div>
                </a>
            </div>
            <a href="#" class="direction__btn">
                <span class="direction__btn-txt">Все направления</span>
                <span class="direction__btn-svg">
                        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.896894 1.10524C1.28756 0.715553 1.92005 0.715947 2.31022 1.10613L7.29689 6.0928C7.68742 6.48332 7.68742 7.11648 7.29689 7.50701L2.31022 12.4937C1.92005 12.8839 1.28756 12.8843 0.896894 12.4946L0.709169 12.3073C0.317697 11.9168 0.317433 11.2827 0.70858 10.8919L4.09601 7.5073C4.48693 7.11671 4.48693 6.48309 4.09601 6.0925L0.708579 2.70789C0.317432 2.31707 0.317697 1.683 0.709169 1.2925L0.896894 1.10524Z" fill="white"/>
                        </svg>
                    </span>
            </a>
        </div>
    </div>
</section>