<section class="equipment">
    <div class="content">
        <div class="equipment__row">
            <h2 class="equipment__title glob-title">Наше оборудование</h2>
            <div class="equipment__cards">
                <div class="equipment__card-outer">
                    <div class="equipment__card">
                        <div class="equipment__img-wrapper">
                            <img src="img/equip-1.png" alt="MRI scanner" class="equipment__img">
                        </div>
                        <p class="equipment__card-title">МРТ</p>
                        <ul class="equipment__card-list">
                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    1.5 тесла / до 200 кг
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                   3D/4D запись исследования
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МР маммография
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МРТ всего тела за 1.5 часа
                                </span>
                            </li>
                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МРТ суставов
                                </span>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="equipment__card-outer">
                    <div class="equipment__card">
                        <div class="equipment__img-wrapper">
                            <img src="img/equip-2.png" alt="CT scan" class="equipment__img">
                        </div>
                        <p class="equipment__card-title">КТ</p>
                        <ul class="equipment__card-list">
                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    1.5 тесла / до 200 кг
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                   3D/4D запись исследования
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МР маммография
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МРТ всего тела за 1.5 часа
                                </span>
                            </li>
                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МРТ суставов
                                </span>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="equipment__card-outer">
                    <div class="equipment__card">
                        <div class="equipment__img-wrapper">
                            <img src="img/equip-3.png" alt="x-ray" class="equipment__img">
                        </div>
                        <p class="equipment__card-title">МРТ</p>
                        <ul class="equipment__card-list">
                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    1.5 тесла / до 200 кг
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                   3D/4D запись исследования
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МР маммография
                                </span>
                            </li>

                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МРТ всего тела за 1.5 часа
                                </span>
                            </li>
                            <li class="equipment__item">
                                <span class="equipment__svg-wrapper">
                                    <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 5.63397C11.1667 6.01888 11.1667 6.98113 10.5 7.36603L1.5 12.5622C0.833332 12.9471 -6.10471e-07 12.466 -5.76822e-07 11.6962L-1.2256e-07 1.30385C-8.8911e-08 0.534046 0.833333 0.0529216 1.5 0.437822L10.5 5.63397Z" fill="url(#paint0_linear_13_66)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_13_66" x1="12" y1="6.5" x2="-4" y2="6.5" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#3BB96D"/>
                                        <stop offset="1" stop-color="#279A59"/>
                                        </linearGradient>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="equipment__item-desc">
                                    МРТ суставов
                                </span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>