<section class="hero">
    <div class="content-outer">
        <div class="hero__bg-image-wrapper"></div>

        <div class="hero__slider swiper">
            <div class="swiper-wrapper">
                <div class="hero__slide content swiper-slide">
                    <div class="hero__txt-wrapper">
                        <h1 class="hero__title">
                            Lorem ipsum dolor sit amet, consectetur
                        </h1>
                        <p class="hero__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed mi tincidunt
                            pharetra montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed
                            mi tincidunt pharetra montes.
                        </p>
                        <a href="#" class="hero__btn">
                            <span class="hero__btn-txt">Подробнее</span>
                            <span class="hero__svg-wrapper">
                                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.896894 1.10524C1.28756 0.715553 1.92005 0.715947 2.31022 1.10613L7.29689 6.0928C7.68742 6.48332 7.68742 7.11648 7.29689 7.50701L2.31022 12.4937C1.92005 12.8839 1.28756 12.8843 0.896894 12.4946L0.709169 12.3073C0.317697 11.9168 0.317433 11.2827 0.70858 10.8919L4.09601 7.5073C4.48693 7.11671 4.48693 6.48309 4.09601 6.0925L0.708579 2.70789C0.317432 2.31707 0.317697 1.683 0.709169 1.2925L0.896894 1.10524Z" fill="white"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="hero__slide-img">
                        <img src="img/hero-1.png" alt="Dialog">
                    </div>
                </div>
                <div class="hero__slide content swiper-slide">
                    <div class="hero__txt-wrapper">
                        <h1 class="hero__title">
                            Lorem ipsum dolor sit amet, consectetur
                        </h1>
                        <p class="hero__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed mi tincidunt
                            pharetra montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed
                            mi tincidunt pharetra montes.
                        </p>
                        <a href="#" class="hero__btn">
                            <span class="hero__btn-txt">Подробнее</span>
                            <span class="hero__svg-wrapper">
                                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.896894 1.10524C1.28756 0.715553 1.92005 0.715947 2.31022 1.10613L7.29689 6.0928C7.68742 6.48332 7.68742 7.11648 7.29689 7.50701L2.31022 12.4937C1.92005 12.8839 1.28756 12.8843 0.896894 12.4946L0.709169 12.3073C0.317697 11.9168 0.317433 11.2827 0.70858 10.8919L4.09601 7.5073C4.48693 7.11671 4.48693 6.48309 4.09601 6.0925L0.708579 2.70789C0.317432 2.31707 0.317697 1.683 0.709169 1.2925L0.896894 1.10524Z" fill="white"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="hero__slide-img">
                        <img src="img/hero-1.png" alt="Dialog">
                    </div>
                </div>
                <div class="hero__slide content swiper-slide">
                    <div class="hero__txt-wrapper">
                        <h1 class="hero__title">
                            Lorem ipsum dolor sit amet, consectetur
                        </h1>
                        <p class="hero__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed mi tincidunt
                            pharetra montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed
                            mi tincidunt pharetra montes.
                        </p>
                        <a href="#" class="hero__btn">
                            <span class="hero__btn-txt">Подробнее</span>
                            <span class="hero__svg-wrapper">
                                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.896894 1.10524C1.28756 0.715553 1.92005 0.715947 2.31022 1.10613L7.29689 6.0928C7.68742 6.48332 7.68742 7.11648 7.29689 7.50701L2.31022 12.4937C1.92005 12.8839 1.28756 12.8843 0.896894 12.4946L0.709169 12.3073C0.317697 11.9168 0.317433 11.2827 0.70858 10.8919L4.09601 7.5073C4.48693 7.11671 4.48693 6.48309 4.09601 6.0925L0.708579 2.70789C0.317432 2.31707 0.317697 1.683 0.709169 1.2925L0.896894 1.10524Z" fill="white"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="hero__slide-img">
                        <img src="img/hero-1.png" alt="Dialog">
                    </div>
                </div>
                <div class="hero__slide content swiper-slide">
                    <div class="hero__txt-wrapper">
                        <h1 class="hero__title">
                            Lorem ipsum dolor sit amet, consectetur
                        </h1>
                        <p class="hero__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed mi tincidunt
                            pharetra montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed
                            mi tincidunt pharetra montes.
                        </p>
                        <a href="#" class="hero__btn">
                            <span class="hero__btn-txt">Подробнее</span>
                            <span class="hero__svg-wrapper">
                                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.896894 1.10524C1.28756 0.715553 1.92005 0.715947 2.31022 1.10613L7.29689 6.0928C7.68742 6.48332 7.68742 7.11648 7.29689 7.50701L2.31022 12.4937C1.92005 12.8839 1.28756 12.8843 0.896894 12.4946L0.709169 12.3073C0.317697 11.9168 0.317433 11.2827 0.70858 10.8919L4.09601 7.5073C4.48693 7.11671 4.48693 6.48309 4.09601 6.0925L0.708579 2.70789C0.317432 2.31707 0.317697 1.683 0.709169 1.2925L0.896894 1.10524Z" fill="white"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="hero__slide-img">
                        <img src="img/hero-1.png" alt="Dialog">
                    </div>
                </div>
                <div class="hero__slide content swiper-slide">
                    <div class="hero__txt-wrapper">
                        <h1 class="hero__title">
                            Lorem ipsum dolor sit amet, consectetur
                        </h1>
                        <p class="hero__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed mi tincidunt
                            pharetra montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed
                            mi tincidunt pharetra montes.
                        </p>
                        <a href="#" class="hero__btn">
                            <span class="hero__btn-txt">Подробнее</span>
                            <span class="hero__svg-wrapper">
                                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.896894 1.10524C1.28756 0.715553 1.92005 0.715947 2.31022 1.10613L7.29689 6.0928C7.68742 6.48332 7.68742 7.11648 7.29689 7.50701L2.31022 12.4937C1.92005 12.8839 1.28756 12.8843 0.896894 12.4946L0.709169 12.3073C0.317697 11.9168 0.317433 11.2827 0.70858 10.8919L4.09601 7.5073C4.48693 7.11671 4.48693 6.48309 4.09601 6.0925L0.708579 2.70789C0.317432 2.31707 0.317697 1.683 0.709169 1.2925L0.896894 1.10524Z" fill="white"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="hero__slide-img">
                        <img src="img/hero-1.png" alt="Dialog">
                    </div>
                </div>
            </div>
            <div class=".hero__slider-dots swiper-pagination"></div>
        </div>
    </div>
</section>