<section class="license">

    <div class="content-outer">
        <div class="license__bg-wrapper">
            <img src="img/license-bg.jpg" alt="License background" class="license__bg-img">
        </div>
        <div class="content">
            <div class="license__row">
                <h2 class="license__title glob-title">Наши лицензии</h2>
                <div class="license__slider swiper">
                    <div class="license__slider-inner swiper-wrapper">
                        <div class="license__slide swiper-slide">
                            <img src="img/license.jpg" alt="License" class="license__img">
                        </div>
                        <div class="license__slide swiper-slide">
                            <img src="img/license.jpg" alt="License" class="license__img">
                        </div>
                        <div class="license__slide swiper-slide">
                            <img src="img/license.jpg" alt="License" class="license__img">
                        </div>
                        <div class="license__slide swiper-slide">
                            <img src="img/license.jpg" alt="License" class="license__img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>