<section class="partners">
  <div class="content">
    <div class="partners__row">
      <h2 class="partners__title glob-title">Наши партнеры</h2>
      <div class="partners__list">
        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>
        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>
        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>
        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

        <a href="#" class="partners__link">
          <div class="partners__item">
            <div class="partners__img-wrapper">
              <img src="img/samsung.png" alt="Our partner" class="partners__img">
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
</section>