<section class="prom">
    <div class="content">
        <div class="prom__row">
            <h2 class="prom__title glob-title">Наши акции</h2>
            <div class="prom__cards">
                <div class="prom__card">
                    <p class="prom__card-title">Скидка -20% на МРТ</p>
                    <p class="prom__card-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed mi tincidunt
                        pharetra montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra amet dolor sed
                        mi tincidunt pharetra montes.
                    </p>
                    <p class="prom__card-date-wrapper">
                        <span class="prom__card-txt">Акция действует до </span>
                        <span class="prom__card-date">22.03.2023</span>
                    </p>
                    <button class="prom__btn">
                        <span class="prom__btn-txt">Подробнее</span>
                        <span class="prom__svg-wrapper">
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.375 6.99996C7.375 7.14382 7.32002 7.28782 7.21019 7.39765L1.58519 13.0227C1.36539 13.2424 1.00947 13.2424 0.789817 13.0227C0.570161 12.8029 0.57002 12.4469 0.789817 12.2273L6.01713 6.99996L0.789817 1.77265C0.57002 1.55286 0.57002 1.19693 0.789817 0.977277C1.00961 0.757621 1.36553 0.75748 1.58519 0.977277L7.21019 6.60228C7.32002 6.7121 7.375 6.85611 7.375 6.99996Z" fill="url(#paint0_linear_7_178)"/>
                            <defs>
                            <linearGradient id="paint0_linear_7_178" x1="0.624969" y1="6.99999" x2="7.375" y2="6.99999" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3BB96D"/>
                            <stop offset="1" stop-color="#279A59"/>
                            </linearGradient>
                            </defs>
                            </svg>
                        </span>
                    </button>
                    <div class="prom__card-img-wrapper">
                        <img src="img/prom-card-1.png" alt="MRI scanner" class="prom__card-img">
                    </div>
                </div>

                <div class="prom__card prom__card--small prom__card--purple">
                    <p class="prom__card-title">Скидка -20% на МРТ</p>

                    <p class="prom__card-date-wrapper ">
                        <span class="prom__card-txt">Акция действует до </span>
                        <span class="prom__card-date">22.03.2023</span>
                    </p>
                    <button class="prom__btn">
                        <span class="prom__btn-txt">Подробнее</span>
                    </button>
                    <div class="prom__card-img-wrapper">
                        <img src="img/prom-card-1.png" alt="MRI scanner" class="prom__card-img">
                    </div>
                </div>

                <div class="prom__card prom__card--small prom__card--red">
                    <p class="prom__card-title">Скидка -20% на МРТ</p>
                    <p class="prom__card-date-wrapper">
                        <span class="prom__card-txt">Акция действует до </span>
                        <span class="prom__card-date">22.03.2023</span>
                    </p>
                    <button class="prom__btn">
                        <span class="prom__btn-txt">Подробнее</span>
                    </button>
                    <div class="prom__card-img-wrapper">
                        <img src="img/prom-card-1.png" alt="MRI scanner" class="prom__card-img">
                    </div>
                </div>

                <div class="prom__card prom__card--small prom__card--yellow">
                    <p class="prom__card-title">Скидка -20% на МРТ</p>

                    <p class="prom__card-date-wrapper">
                        <span class="prom__card-txt">Акция действует до </span>
                        <span class="prom__card-date">22.03.2023</span>
                    </p>
                    <button class="prom__btn">
                        <span class="prom__btn-txt">Подробнее</span>
                    </button>
                    <div class="prom__card-img-wrapper">
                        <img src="img/prom-card-1.png" alt="MRI scanner" class="prom__card-img">
                    </div>
                </div>

                <div class="prom__card prom__card--small prom__card--blue">
                    <p class="prom__card-title">Скидка -20% на МРТ</p>

                    <p class="prom__card-date-wrapper">
                        <span class="prom__card-txt">Акция действует до </span>
                        <span class="prom__card-date">22.03.2023</span>
                    </p>
                    <button class="prom__btn">
                        <span class="prom__btn-txt">Подробнее</span>
                    </button>
                    <div class="prom__card-img-wrapper">
                        <img src="img/prom-card-1.png" alt="MRI scanner" class="prom__card-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>