.modal__submit-btn{
  width: 100%;
  background: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
  border-radius: 30px;
  padding: 11px 0;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#279A59 0%, #3BB96D 100%);
    z-index: -1;
    opacity: 0;
    border-radius: 30px;
    transition: .3s ease-in-out;
  }
  &:hover{
    &:before{
      opacity: 1;
      z-index: 1;
    }
  }
  &:active{
    box-shadow: 0 0 12px #279A59;
  }
}

.modal__btn{
  @extend .modal__submit-btn;
  padding: 8px 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
}
.modal__btn-md{
  width: fit-content;
  margin: 0 auto;
}
.topline__btn{
  width: fit-content;
}
.hero__btn{
  background-color: #fff;
  border-radius: 30px;
  padding: 13px 53px;
  display: flex;
  align-items: center;
  column-gap: 11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  width: fit-content;
  transition: .3s ease-in-out;

  @include breakpoint(sm){
    padding:13px 0;
    justify-content: center;
    width: 100%;
  }

  &:hover{
    box-shadow: inset 0 0 20px #279A59;
  }
  &:active{
    box-shadow: 0 0 15px rgba(0,0,0,.3),
                inset 0 0 20px #279A59;
  }

  .hero__btn-txt{
    @extend .gradient-txt;
  }

  svg{
    path{
      fill: #3bb96d;
    }
  }
}
.direction__btn{
  @extend .modal__submit-btn;
  margin: 0;
  padding: 13px 30px;
  width: fit-content;
  column-gap: 10px;

  span{
    position: relative;
    z-index: 3;
  }
}
.specialist__btn{
  @extend .direction__btn;
  width: 220px;

  @include breakpoint(md){
    width: 100%;
  }
  @include breakpoint(sm){
    width: 220px;
  }

}

.specialist__btn-all{
  @extend .direction__btn;
  width: 220px;
  padding: 1px;
  position: relative;
  margin: 50px auto 0;

  @include breakpoint(md){
    margin-top: 40px;
  }
  @include breakpoint(sm){
    margin-left: unset;
  }

  .specialist__btn-all-bg{
    padding: 13px;
    background-color: #F1F5F8;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    transition: .3s ease-in-out;
  }

  .specialist__btn-txt{
    @extend .gradient-txt;
    transition: .3s ease-in-out;

  }
  &:before {
    content: none;
  }

  &:hover{
    .specialist__btn-all-bg{
      background-color: rgba(0,0,0,0);
    }
    .specialist__btn-txt{
      color:#fff;
    }
  }
}

.prom__btn{
  padding: 9px 34px;
  display: flex;
  column-gap: 10.5px;
  width: fit-content;
  background: #FFFFFF;
  border-radius: 30px;
  align-items: center;

  .prom__btn-txt{
    @extend .gradient-txt;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
  }
}
.hospital__btn{
  @extend .direction__btn;
  padding-right: 65px;
  padding-left: 65px;
}
.contacts__btn{
 @extend .direction__btn;
  padding-left: 26px;
  padding-right: 26px;
  margin-top: 9px;
}