.modal__input{

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #8D979F;
  background: #F1F5F8;
  border-radius: 30px;
  padding: 12px 15px;
  width: 100%;
  margin: 10px 0 20px;
}