.about {
  padding: 130px 0;
  @include breakpoint(md){
    padding: 100px 30px 90px;
  }
  @include breakpoint(sm){
    padding: 80px 20px;
  }
  &__row {
    display: flex;
    column-gap: 20px;

    @include breakpoint(sm65){
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-basis: 43%;
  }

  &__title {

  }

  &__desc {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #686868;

  }

  &__img-wrapper {
    flex-basis: 57%;
    height: auto;
    @include cover-background;
    background-position: top;

    @include breakpoint(sm65){
      min-height: 300px;
    }
    @include breakpoint(sm){
      min-height: 268px;
    }
  }

  &__img {
  }

}