.advantages {

  padding-bottom: 130px;
  overflow-x: hidden;

  @include breakpoint(md){
    padding: 0 30px 100px;
  }
  @include breakpoint(sm){
    padding: 0 20px 80px;
  }
  &__row {
    background: #F4F6FA;
    border-radius: 10px;
    padding: 30px 20px;

    @include breakpoint(sm){
      padding: 20px 5px;
    }
  }

  &__title {
    margin-bottom: 40px;
  }
  .accordion__outer{
    display: flex;
    column-gap: 20px;
    @include breakpoint(md){
      flex-direction: column;
    }
  }
  .accordion__display-content{
    flex-basis: 56%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 11px 21px 26px;

    @include breakpoint(md){
      display: none;

    }

  }

  .accordion {
    flex-basis: 44%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    height: 100%;

    @include breakpoint(md){
      flex-basis: 100%;
    }
  }

  .accordion__item {

    //background-color: #fff;
    @include breakpoint(md){
      //padding: 11px 21px 35px;
    }

    &.active{
      background-color: #fff;

      .accordion__white-box{
        display: block;
        @include breakpoint(md){
          display: none;
        }
      }
      .accordion__header{
        position: relative;
        @include breakpoint(md){
          background-color: white;
        }
      }
      .accordion__header-number{
        @extend .gradient-txt;
      }
      .accordion__header-txt{
        @extend .gradient-txt;
        font-weight: 700;
      }
      .accordion__body{
        @include breakpoint(md){
          padding-bottom: 35px;
          //padding-top: 11px;
          ///padding-bottom: 35px;
        }
      }
    }
  }

  .accordion__header {
    display:flex;
    column-gap: 10px;
    align-items: center;
    background-color: unset;
    padding: 11px 10px;
    width: 100%;
    @include breakpoint(md){
      padding: 11px 21px;
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    @include breakpoint(sm){
      padding-left: 11px;
      padding-right: 11px;
    }

  }

  .accordion__header-number {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: $mainColor;
  }

  .accordion__header-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $mainColor;
    text-align: start;
  }
  .accordion__white-box{
    position: absolute;
    height: 100%;
    width: 30px;
    //border:1px solid black;
    background-color: #fff;
    right: -30px;
    //display: none;
    display: none;

  }
  .accordion__body {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;

    @include breakpoint(md){
      display: block;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
      //padding: 11px 21px 35px;
      padding-left: 21px;
      padding-right: 21px;

    }
    @include breakpoint(sm){
      padding-left: 11px;
      padding-right: 11px;

    }
  }
  .accordion__delimiter{
    width: 80px;
    height: 2px;
    background: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
    margin: 15px 0 ;

  }
  .accordion__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: $mainColor;
    @include fluid-type(380px, 576px, 25px, 30px);

  }

  .accordion__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #686868;
    @include fluid-type(380px, 576px, 14px, 16px);
    margin-bottom: 18px;

  }

  .accordion__etc {
    display: flex;
    justify-content: space-between;

    @include breakpoint(lg){
      flex-direction: column;
    }
    @include breakpoint(md){
      flex-direction: row;
    }
    @include breakpoint(sm){
      flex-direction: column;
    }
  }

  .accordion__stats-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .accordion__stats {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .accordion__val {
    @extend .gradient-txt;
    font-weight: 700;
    white-space: nowrap;
    font-size: 50px;
    line-height: 120%;
    @include fluid-type(380px, 576px, 45px, 50px);
  }

  .accordion__val-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #717992;
    @include fluid-type(380px, 576px, 18px, 20px);


  }

  .accordion__img-wrapper {
    width: 391px;
    height: 342px;
    position: relative;
    overflow: hidden;
    @include breakpoint(xl){
      margin: 15px auto 0;
      width: calc(100vw / 2.92);
      height: calc( 100vw / 3.33);
    }
    @include breakpoint(md){
      width: 391px;
      height: 342px;
      margin: 0;
    }
    @include breakpoint(sm65){
      width: calc(100vw / 1.66);
      height: calc( 100vw / 1.9);
    }
    @include breakpoint(sm){
      width: 302px;
      height: 264px;
      margin: 15px auto 0;
    }
    @include breakpoint(xs38){
      width: 100%;
    }
  }

  .accordion__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    object-fit: cover;
  }
}