.contacts {
  background-color: #272727;
  @include breakpoint(md){
    padding-left: 30px;
    //padding-right: 30px;
  }
  @include breakpoint(sm){
    //padding-left: 20px;
    padding-left: 0;
    //padding-right: 20px;
  }
  .content__outer {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }

  &__row {
    display: flex;

    @include breakpoint(sm){
      flex-direction: column;
    }

  }

  .content {
  }

  &__info {
    padding: 110px 110px 110px 0;
    max-width: 473px;
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    width: 100%;
    //width: 483px;
    @include breakpoint(xl){
      width: calc(100vw / 2.36);
    }
    @include breakpoint(lg){
      padding-right: calc(100vw / 10);
    }
    @include breakpoint(md){
      padding-right: calc(100vw / 20.76);
    }
    @include breakpoint(sm){
      padding: 60px 20px;
      max-width: unset;
      width: 100%;
    }
  }

  &__title {
    color:#fff;
    margin-bottom: 30px;
  }

  &__address {
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }

  &__desc {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__phone {
  }

  &__phone-link {
  }
  &__mail, &__phone, &__address{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__mail {
  }

  &__phone-email {

  }

  &__map {
    position: absolute;
    right: 0;
    height:100%;
    width: 100%;

    .contacts__g-map{
      width: 100%;
      height: 100%;

      @include breakpoint(sm){
        min-height: 486px;

      }
    }

    @include breakpoint(sm){
      line-height: 0;
      position: static;
      width: 100%;
      max-width: 100%;
    }
  }
}