.direction {

  padding-bottom: 130px;
  overflow-x: hidden;
  @include breakpoint(md){
    //padding:;
    padding: 0 30px 64px;
  }
  @include breakpoint(sm){
    padding: 0 20px 80px;
  }
  &__row {

    & > .direction__btn{
      display: none;
      @include breakpoint(sm65){
        display: flex;
        margin-top: 30px;
      }
    }
  }

  &__header {
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    @include breakpoint(md){
      margin-bottom: 30px;

    }
    @include breakpoint(sm65){
      .direction__btn{
        display: none;
      }
    }
  }

  &__title {
  }

  &__btn {
    white-space: nowrap;
  }
  &__card-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: $mainColor;

  }
  &__btn-txt {
  }

  &__btn-svg {
  }

  &__cards {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    @include breakpoint(lg){
      flex-wrap: wrap;
      row-gap: 20px;
    }
    @include breakpoint(md){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(sm){
      grid-template-columns: 1fr;
    }
  }
  .direction__card-inner{

  }
  &__card {
    display: block;
    max-width: 270px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(52, 52, 52, 0.14);
    border-radius: 5px;
    transition: opacity .4s ease-in, transform .4s ease-in;
    opacity: 0;
    transform:translateY(-70px);

    @include breakpoint(md){
      display: flex;
      justify-content: center;
      flex-direction: column;

      &:nth-child(odd){
        margin-left: auto;
        transform: translate(-100px, 0);
      }
      &:nth-child(even){
        transform: translate(100px, 0);
      }
    }
    @include breakpoint(sm){
      max-width: 100%;
      margin-left: unset;
    }
    &:hover{
      .direction__img-wrapper{
        transform:scale(1.2);
      }
    }
  }
  &__img-outer{
    overflow: hidden;
  }
  &__img-wrapper {
    min-height: 206px;
    width: 100%;

    transition: transform .3s ease-in-out;
    @include cover-background;
    @include breakpoint(sm){
      min-height: 170px;
      background-position: top 12% center;
    }
  }

  &__img {

  }

  &__card-txt {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__card-link {
    color:#3bb96d;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    position: relative;
    width: fit-content;

    @supports (background-clip: text) {
      background-image: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
      background-clip: text;
      color: transparent;
    }
    &:before{
      content: '';
      position: absolute;
      left:0;
      bottom: 0px;
      width: 100%;
      height: 1px;
      background-color: #3bb96d;
      transition: .2s ease-in-out;
    }
    &:hover{
      &:before{
        bottom: -2px;
      }
    }
  }
}