.equipment {
  padding: 130px 0;

  @include breakpoint(md){
    padding: 100px 30px;
  }
  @include breakpoint(sm){
    padding: 80px 20px;
  }
  &__row {
  }

  &__title {
    margin-bottom: 40px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include breakpoint(lg){
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(sm){
      display: flex;
      flex-direction: column;
    }
  }

  &__card-outer {
    padding-top: 72px;
    @include breakpoint(lg){
      &:nth-child(odd){
        margin-left: auto;
      }
      &:nth-child(even){
        margin-right: auto;
      }
    }
    @include breakpoint(md){
      width: 100%;
    }
    @include breakpoint(sm){


    }
  }

  &__card {
    position: relative;
    padding: 0 30px 64px;
    background: #F4F6FA;
    border-radius: 60px;
    max-width: 367px;
    @include breakpoint(sm){
      margin: 0 auto;
    }
    @include breakpoint(xs38){
      padding: 0 20px 30px;
    }
  }

  &__img-wrapper {
    position: absolute;
    width: 311px;
    height: 276px;
    //overflow: hidden;
    left: 50%;
    transform:translateX(-50%);

    @include breakpoint(xl){
      width: calc(100vw / 3.67);
      height: calc(100vw / 4.13);
    }
    @include breakpoint(md){
      width: calc(100vw / 2.47);
      height: calc(100vw / 2.78);
    }
    @include breakpoint(sm){
      width: calc(100vw / 1.85);
      height: calc(100vw / 2.09);
    }
    @include breakpoint(xs38){
      width: calc(100vw / 1.22);
      height: calc(100vw / 1.38);
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -72px;

    opacity: 0;
    transform:translateY(-80px);
    transition: opacity .4s ease-in, transform .4s ease-in;
  }

  &__card-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: $mainColor;
    margin-bottom: 15px;
    padding-top: 234px;
    @include breakpoint(xl){
      padding-top: calc(100vw / 4.87);
    }
    @include breakpoint(md){
      padding-top: calc(100vw / 3.28);
    }
    @include breakpoint(sm){
      padding-top: calc(100vw / 2.46);
    }
    @include breakpoint(xs38){
      padding-top: calc(100vw / 1.62);
    }
  }

  &__card-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @include breakpoint(xs38){
      row-gap: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: start;
    column-gap: 5px;
  }

  &__svg-wrapper {
  }

  &__item-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #686868;
  }
}