.hero {
  background: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
  position: relative;
  padding-top: 80px;
  &:before{
    content:'';
    background-image: url("../img/hero-bg.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .07;
  }

  &__slider {
    /*@include breakpoint(md){
      padding-left: 30px;
      padding-right: 30px;
    }
    @include breakpoint(sm){
      padding-left: 20px;
      padding-right: 20px;
    }*/
  }

  .swiper {
    max-width: $maxWidth;
    width: 100%;
    position: relative;

  }

  .swiper-wrapper {
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
    @include breakpoint(xl){
      column-gap: calc(100vw / 20.27);
    }
    @include breakpoint(md){
      column-gap: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
    @include breakpoint(sm){
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .swiper-pagination{
    position: static;
    padding-bottom: 20px;
    display: flex;
    column-gap: 5px;
    margin: 0 auto;
    width: fit-content;

    @include breakpoint(md){

    }
    @include breakpoint(sm){
      transform:unset;
      padding-left:20px;
      padding-bottom: 50px;
      margin: 0;
    }
  }
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin: 0 !important;
    background-color: unset;
    opacity: 1;
    position: relative;
    cursor: pointer;
    &.swiper-pagination-bullet-active{
      background-color: #fff;
    }
    &:not(.swiper-pagination-bullet-active){
      &:before{
        content: '';
        background-color:#fff;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%, -50%);
        opacity:0;
        transition: opacity .3s ease-in-out;
      }
      
      &:hover:before{
        opacity: 1;
      }
    }

  }

  .content {
  }

  .swiper-slide {
  }

  &__txt-wrapper {
    position: relative;
    z-index: 1;
    max-width: 504px;
    padding-top: 108px;
    padding-bottom: 76px;
    flex-basis: 49%;
    align-items: center;

    @include breakpoint(md){
      max-width: 355px;
      padding-top: 102px;
      padding-bottom: 72px;
    }
    @include breakpoint(sm){
      padding-top: 50px;
      padding-bottom: 52px;
      max-width: 100%;
      flex-basis: unset;
    }
  }

  &__title {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-90px);
    transition: opacity .4s ease-in,
                transform .4s ease-in;
  }

  &__desc {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(80px);
    transition: opacity .4s ease-in,
    transform .4s ease-in;

  }

  &__btn {
    opacity: 0;
  }

  &__btn-txt {
  }

  &__svg-wrapper {
  }



  .hero__slide-img{
    align-items: center;
    display: flex;
    max-width: 580px;
    flex-basis: 51%;
    /*
    transform:translateY(30px);
    opacity: 0;
    transition: opacity .4s ease-in, transform .4s ease-in;
    */

    @include breakpoint(sm){
      display: none;
    }

  }
}