.hospital {
  overflow-x: hidden;
  padding: 130px 0;
  background-color: #F1F5F8;

  @include breakpoint(md){
    padding: 100px 30px;
  }
  @include breakpoint(sm){
    padding: 80px 20px;
  }

  &__row {
  }

  &__title {
    margin-bottom: 40px;
  }

  &__cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;

    @include breakpoint(lg){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-bottom: 40px;
    }
    @include breakpoint(sm65){
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

    }
  }

  &__card {
    background: linear-gradient(180deg, #27C8DA 0%, #24BFD0 100%);
    border-radius: 5px;
    padding: 16px 40px 14px 14px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    opacity: 0;
    transition: opacity .4s ease-in, transform .4s ease-in;

    &:nth-child(-n+2){
      transform:translateY(-80px);

      @include breakpoint(sm65){
        transform: translate( 0, -50px);
      }
    }
    &:last-child{
      transform:translateY(-80px);
      @include breakpoint(lg){
        transform:translateY(80px);
      }
      @include breakpoint(sm65){
        transform: translate(0, -50px);
      }
    }
    @include breakpoint(lg){
      &:last-child{
        grid-column: 1/3;
        justify-content: center;

        @include breakpoint(sm65){
          justify-content: start;
        }
      }
    }
    @include breakpoint(sm){
      padding-right: 60px;
    }
  }

  &__svg-wrapper {
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__card-txt {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

  }

  &__about {
    display: flex;
    column-gap: 20px;
    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 20px;
    }
    & > .hospital__btn{
      display: none;


      @include breakpoint(sm){
        display: flex;

      }
    }
  }

  &__txt {
    flex-basis: 41%;
    display: flex;
    flex-direction: column;
    row-gap: 28px;

    @include breakpoint(md){
      flex-basis: 45%;
      row-gap: 20px;
    }
    & > .hospital__btn{
      opacity:0;
      transition: opacity .4s ease-in;

      @include breakpoint(sm){
          display: none;
       }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    flex: 1;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #686868;
    opacity: 0;
    transition: opacity .4s ease-in, transform .4s ease-in;
    transform: translateX(-80px);
  }

  &__btn {
    //@include breakpoint()
  }

  &__img-wrapper {
    flex-basis: 59%;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: opacity .4s ease-in, transform .4s ease-in;

    @include breakpoint(md){
      min-height: 410px;
      height: 410px;
      flex-basis: 55%;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}