.license {
  background-color: #F1F5F8;
  padding: 0;
/*  @include breakpoint(md){
    padding: 0 30px;
  }
  @include breakpoint(sm){
    padding: 0 20px;
  }*/
  &__row {
  }

  &__title {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
  }

  &__slider {

  }

  .swiper {
  }

  &__slider-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 100%;
    column-gap: 20px;
    @include breakpoint(md){
      display: flex;
    }
    @include breakpoint(sm){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
    }
  }

  .swiper-wrapper {
  }



  .swiper-slide {

    margin-right: 0 !important;
    height: 390px;

    @include breakpoint(xl){
      height: calc(100vw / 2.92);
    }
    @include breakpoint(md){
      margin-right: unset;
      flex-basis: unset;
      width: 100%;
      min-height: calc(100vw / 2.39);
    }
    @include breakpoint(sm){
      width: 100%;
      min-height: calc(100vw/1.58) ;
      position: relative;
      overflow: hidden;
    }
  }
  &__slide {

    @include breakpoint(sm){
      width: 100% !important;
    }

  }
  .content-outer{
    margin: 0 auto;
    max-width: 2490px;
    //width: 100%;
    position: relative;
    overflow: hidden;
    padding: 130px 0;
    @include breakpoint(md){
      padding: 100px 30px;
    }
    @include breakpoint(sm){
      padding: 80px 20px;
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    object-fit: cover;

  }
  &__bg-wrapper{
   position: absolute;
    top: -365px;
    right: 0;
    @media screen  and (max-width: 2480px){
      right: -15%;
    }
    @include breakpoint(xl){
      right: -40%;
    }
    @include breakpoint(lg){
      right: -75%;
    }
    @include breakpoint(md){
      right: -120%;
    }
    @include breakpoint(sm){
      right: -165%;
    }
  }
}