.partners {

  padding-bottom: 130px;
  @include breakpoint(md){
    padding: 0 30px 100px;
  }
  @include breakpoint(sm){
    padding:0 20px 80px;
  }

  &__row {

  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(170px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
    @include breakpoint(md){
      grid-template-columns: repeat(auto-fill,minmax(162px, 1fr));
    }
    @include breakpoint(sm){
      grid-template-columns: repeat(2,1fr);
    }
  }

  &__link {
    //display: block;

    &:hover{
      .partners__item{
        box-shadow: 0px 4px 20px rgba(52, 52, 52, 0.14);
      }
    }
  }

  &__item {
    height: 90px;
    //margin: 0 auto;
    background: #FFFFFF;
    border-radius: 5px;
    transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img-wrapper {

  }

  &__img {
/*    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);*/
  }
}
