.prom {

  padding: 130px 0;
  overflow-x: hidden;

  @include breakpoint(md){
    padding: 100px 30px;
  }
  @include breakpoint(sm){
    padding: 80px 20px;
  }
  &__row {
  }

  &__title {
    margin-bottom: 40px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

    @include breakpoint(lg){
      gap: 10px;
    }
    @include breakpoint(md){
      gap: 20px;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: 2fr 1fr 1fr;
    }
    @include breakpoint(sm){
      display: flex;
      flex-direction: column;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 5px;
    grid-row: 1/3;
    grid-column: 1/3;
    background: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
    padding: 30px 0 24px 30px ;
    opacity: 0;
    transition: opacity .4s ease-in, transform .4s ease-in;

    &:not(.prom__card--small){
      transform: translateY(80px);
    }

    @include breakpoint(md){
      padding: 49px 0 49px 30px ;
      grid-row: 1/2;
      grid-column: 1/3;

      &:not(.prom__card--small){
        transform: translateY(-80px);
      }
    }
    @include breakpoint(sm){
      padding: 40px 50px 160px 20px;
    }
    @include breakpoint(xs38){
      padding: 20px 15px 140px;
    }


    &--purple{
      grid-column: 3/4;
      grid-row: 1/2;
      background: #6567F2;
      @include breakpoint(md){
        grid-column: 1/2;
        grid-row: 2/3;
      }
      .prom__btn{

        &:hover{
          box-shadow: 0 0 15px #383985;
          .prom__btn-txt{
            color:#6567F2;
          }
        }
        &:active{
          box-shadow: inset 0 0 20px rgba(0,0,0,.4), 0 0 15px #383985;
        }
      }
    }
    &--red{
      grid-column: 4/5;
      grid-row: 1/2;
      background: #F57676;
      @include breakpoint(md){
        grid-column: 2/3;
        grid-row: 2/3;
      }

      .prom__btn{

        &:hover{
          box-shadow: 0 0 15px #7a3838;
          .prom__btn-txt{
            color:#F57676;
          }
        }
        &:active{
          box-shadow: inset 0 0 20px rgba(0,0,0,.4), 0 0 15px #7a3838;
        }
      }
    }
    &--yellow{
      grid-column: 3/4;
      grid-row: 2/3;
      background: #FFDB5C;

      .prom__card-date, .prom__card-title, .prom__card-txt{
        color: $mainColor;
      }
      @include breakpoint(md){
        grid-column: 1/2;
        grid-row: 3/4;
      }
      .prom__btn{

        &:hover{
          box-shadow: 0 0 15px #8a762f;

          .prom__btn-txt{
            color:#FFDB5C;
          }
        }
        &:active{
          box-shadow: inset 0 0 20px rgba(0,0,0,.4), 0 0 15px #8a762f;
        }
      }
    }
    &--blue{
      grid-column: 4/5;
      grid-row: 2/3;
      background: #27C8DA;
      @include breakpoint(md){
        grid-column: 2/3;
        grid-row: 3/4;
      }

      .prom__btn{

        &:hover{
          box-shadow: 0 0 15px #197781;
          .prom__btn-txt{
            color:#27C8DA;
          }
        }
        &:active{
          box-shadow: inset 0 0 20px rgba(0,0,0,.4), 0 0 15px #197781;
        }
      }
    }
  }

  &__card-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

  }

  &__card-date-wrapper {
    flex: 1;
  }

  &__card-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    display: block;
  }

  &__card-date {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;

  }

  &__btn {

    transition: .2s ease-in-out;
    &:hover{
      box-shadow: 0 0 25px #1e6239;
    }
    &:active{

    }
  }

  &__btn-txt {
    transition: .2s ease-in-out;
  }

  &__svg-wrapper {
    display: flex;
  }

  &__card--small {
    padding: 10px 36px 10px 10px;
    row-gap: unset;
    opacity: 0;
    transition: opacity .4s ease-in, transform .5s ease-in;


    &:nth-child(n+3){
      transform:translateY(130px);
    }
    &:nth-child(-n+3){
      transform:translateY(-130px);
    }
    @include breakpoint(md){
      padding: 20px 36px 20px 20px;
      &:nth-child(odd){
        transform:translate(100px, 0);
      }
      &:nth-child(even){
        transform:translate(-100px, 0);
      }
    }
    @include breakpoint(sm){
      transition: opacity .5s ease-in, transform .6s ease-in;
      padding: 20px;
      min-height: 200px;
    }

    .prom__card-title{
      font-size: 20px;
      margin-bottom: 7px;
    }
    .prom__card-txt{
      font-size: 12px;
    }
    .prom__btn{
      padding: 5px 15px;
      position: relative;
      z-index: 1;
    }
    .prom__card-img-wrapper{
      width: 139px;
      height: 123px;
      @include breakpoint(xl){
        width: calc(100vw / 8.2);
        height: calc(100vw / 9.27);
      }
      @include breakpoint(md){
        width: calc(100vw / 4.31);
        height: calc(100vw / 4.89);
      }
      @include breakpoint(sm){
        width: calc(100vw / 3.24);
        height: calc(100vw / 3.67);
      }
    }
  }
  &__card-title, &__card-desc, &__card-date-wrapper{
    max-width: 320px;
    position: relative;
    z-index: 1;
    @include breakpoint(md){
      max-width: 455px;
    }
  }
  &__card-img-wrapper{
    width: 295px;
    height: 262px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;

    @include breakpoint(xl){
      width: calc(100vw / 4.88);
      height: calc(100vw / 5.496);
    }

    @include breakpoint(md){
      width: calc(100vw / 2.6);
      height: calc(100vw / 2.93);
    }
    @include breakpoint(sm){

        width: calc(100vw / 1.95);
        height: calc(100vw / 2.2);

    }

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%);
      object-fit: cover;
    }
  }
}