.specialist {
  background: #F1F5F8;
  padding: 130px 0;
  overflow: hidden;
  @include breakpoint(md){
    padding: 100px 30px ;
  }
  @include breakpoint(sm){
    padding: 80px 20px;
  }
  &__row {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    column-gap: 20px;
  }

  &__title {

  }

  &__slider-btns {
    display: flex;
    column-gap: 10px;
    border-radius: 50%;
    @include breakpoint(sm){
      display: none;
    }
  }

  .specialist__btn-svg{
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }

  &__prev-btn, &__next-btn{
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);
    border: 0;
    transition: .3s ease-in-out;
    &:not(.swiper-button-disabled){
      svg{
        stop:first-child,stop:last-child{
          stop-color: #fff;
        }
      }
      &:hover{
        box-shadow: 0 0 7px #279A59;
      }
    }

    &.swiper-button-disabled{
      border: 1px solid;
      background: linear-gradient(180deg, #3BB96D 0%, #279A59 100%);

      .specialist__btn-svg{

        background-color: #F1F5F8;
      }
    }
  }

  &__prev-btn {
 /*   &:not(.swiper-button-disabled){
      svg{
        stop:first-child, stop:last-child{
          stop-color: #fff;
        }
      }
    }*/
  }

  &__next-btn {

  }

  &__slider {

  }

  .swiper-slider {
  }

  .swiper-wrapper {
    width: 100%;
    justify-content: space-between;

    @include breakpoint(sm){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__slide {
    max-width: 270px;


    @include breakpoint(sm){
      max-width: 390px;
      display: none;
      margin: 0 auto;
      &:nth-child(-n + 3){
        display: initial;
      }
    }
  }

  .swiper-slide {
  }

  &__img-wrapper {
    border-radius: 5px;
    min-height: 254px;
    width: 100%;
    margin-bottom: 20px;
    @include cover-background;

    @include breakpoint(md){
      min-height: 282px;
    }
  }

  &__img {
  }

  &__txt {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
    @include breakpoint(md){
      row-gap: 13px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: $mainColor;
    @include fluid-type(768px, $maxWidth, 18px, 20px);

  }

  &__position {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: $mainColor;
  }

  &__btn {
  }

  &__btn-all {
  }
}