@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@900&family=Raleway:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'RuberoidLight';
  src: url($ruberoidPath + 'RuberoidLight.eot');
  src: url($ruberoidPath + 'RuberoidLight.eot') format('embedded-opentype'),
  url($ruberoidPath + 'RuberoidLight.woff2') format('woff2'),
  url($ruberoidPath + 'RuberoidLight.woff') format('woff'),
  url($ruberoidPath + 'RuberoidLight.ttf') format('truetype'),
  url($ruberoidPath + 'RuberoidLight.svg#RuberoidLight') format('svg');
}
